@media (min-width: 830px) {
	.containerCards .card:hover > section {
		height: 80%;
		opacity: 1;
	}
	.containerCards .card:hover ~ section::before,
	section h2 {
		height: 40%;
		font-size: 15px;
	}
}

@media (min-width: 1126px) {
	.sky,
	.mountain,
	.floor,
	.hero-text {
		background-size: contain;
	}
}

@media (max-width: 1310px) {
	.project {
		height: 140vh;
	}
	.containerCards {
		margin-top: 100px;
	}
	.containerSkills {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	}
}

@media (max-width: 881px) {
	.containerCards {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-template-rows: minmax(100px, auto);
		grid-row-gap: 170px;
	}
	.project {
		height: 145vh;
		margin-top: 80px;
	}
}

@media (max-width: 859px) {
	.project {
		margin-top: 200px;
	}
}

@media (max-width: 829px) {
	.containerCards .card section p {
		font-size: 0.6em;
		font-weight: 500;
	}
	.containerCards {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-template-rows: minmax(100px, auto);
		grid-row-gap: 100px;
		margin-top: 100px;
	}
	.card {
		margin: 100px 0px;
	}
	.project {
		height: 250vh;
	}

	.containerCards .card section {
		height: 90%;
		opacity: 1;
	}
	.containerCards .card section::before,
	section h2 {
		height: 40%;
		font-size: 15px;
	}

	.containerCards .card section::before {
		top: -120%;
	}

	.containerCards .card section h2 {
		top: -105%;
	}
}

@media (max-width: 768px) {
	.social-container-info {
		width: 90%;
	}
	.social-container-info span {
		font-size: 13px;
		padding: 5px;
		letter-spacing: 1.5px;
		font-weight: 400;
		color: #fff;
	}

	.social-container-info a {
		margin: 0px auto;
	}

	.social-container-info ion-icon {
		font-size: 1.5rem;
	}
}

@media (max-width: 740px) {
	.containerCards .card section p {
		font-size: 0.8em;
		padding: 10px 30px;
	}
}

@media (max-width: 738px) {
	.project {
		margin-top: 450px;
		height: 330vh;
	}
}

@media (max-width: 490px) {
	.containerCards .card section p {
		font-size: 0.6em;
	}

	#textSkill h2 {
		font-size: 2.5em;
		background-color: #fff;
		text-align: center;
		color: #000;
		font-weight: bold;
		letter-spacing: 2px;
		padding: 3px 20px;
		border-radius: 5px;
	}
}

@media (max-width: 450px) {
	.containerSkills {
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}

	.skill ion-icon {
		width: 60%;
		height: 90px;
	}

	.skill h2 {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 100px;
		width: 100%;
		font-size: 3.1em;
	}

	.skill h3 {
		text-align: center;
		letter-spacing: 1.5px;
		color: #fca311;
		font-weight: bold;
		font-size: 1.2em;
		text-transform: uppercase;
		margin-top: 30px;
	}
}

@media (max-width: 350px) {
	#textSkill h2 {
		font-size: 2em;
		padding: 3px 15px;
	}

	.social-container-info a {
		flex-direction: column-reverse;
	}

	.containerSkills {
		grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	}

	.skill ion-icon {
		width: 50%;
		height: 100px;
	}

	.skill h2 {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 100px;
		width: 100%;
		font-size: 3.3em;
	}

	.skill h3 {
		text-align: center;
		letter-spacing: 1.5px;
		color: #fca311;
		font-weight: bold;
		font-size: 1.2em;
		text-transform: uppercase;
		margin-top: 30px;
	}
	.containerCards {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-template-rows: minmax(190px, auto);
		grid-row-gap: 170px;
	}
	.card {
		width: 90%;
		margin: 90px auto;
	}

	.containerCards .card section p {
		padding: 10px 10px;
	}
}
